* {
    margin: o;
    padding: o;
    content: inherit;
}


.navbar {
     display:inline;
    
}

.navlist {di
  
}

.navlist a {
   
    

}

.navlist a:hover {

}
.navlist ul li {
                

   
}



.rightnav {
   


   
}

.rightnav img {
    

}

.searchbar {display:inline;
    
   
}

.searchbar input {

}

.btn{



    
}
   